/** @format */
.App {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  margin-top: 10vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
body {
  background-color: #335d7d;
  height: 90vh;
}
.navbar {
  display: flex;
  height: 10vh;
  justify-content: center;
  width: 100%;
}
.navbar h1 {
  color: white;
  font-size: 36px;
  margin-right: 20%;
}
.navbar .input input {
}
.navbar .input input {
  width: 380px;
  margin-top: 36px;
  border-radius: 10px 0px 0px 10px;
  padding: 5px;
  height: 20px;
}
.navbar .input button {
  padding: 8px 28px;
  color: white;
  background-color: black;
  border: 0px;
  border-radius: 0px 10px 10px 0px;
}
.App .weather img {
  width: 20%;
  margin-top: 0px;
}
.App .weather h1 {
  margin-bottom: 0px;
}
.App .weather {
  width: 40%;
  padding: 10px;
}
.App .city h1 {
  font-size: 48px;
}
.App img {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
